<%= render_errors(f) %>
<%= f.input :type, as: :hidden, value: "Participation" %>
<%= f.input :name %>
<%= f.input :description %>
<%= f.input :minimum_requirement %>
<%= f.input :target_percentage %>

<div class="form-actions">
  <%= f.submit %>
  <%= cancel_button %>
</div>
