<%= render "assessment_details" %>

<%= render "steps" %>

<div class="assessment-form-container card">
  <h6>Type of assessment</h6>
  <ul class="assessment-form-types">
    <li><%=link_to "Survey results", new_outcome_indirect_assessment_path(@outcome, type: "Survey")%></li>
    <li><%=link_to "Participation in program", new_outcome_indirect_assessment_path(@outcome, type: "Participation")%></li>
    <li><%=link_to "Other", new_outcome_indirect_assessment_path(@outcome, type: "OtherAssessment")%></li>
  </ul>
</div>
