<% dept_link = "Department " + @department.number %>
<% course_link = "Course " + @course.number %>
<% outcome_link = "Outcome " + @outcome.outcome %>
<p class="navbar"><%=link_to("Home", {:controller => 'departments', :action => 'index'}, :class => 'navbar') %>&gt;<%= link_to(dept_link, {:controller => 'departments', :action => 'show', :id => @course.department_id}, :class => 'navbar') %>&gt;<%=link_to(course_link, {:controller => 'courses', :action => 'show', :id => @course.id}, :class => 'navbar') %>&gt;<%=link_to(outcome_link, {:controller => 'outcomes', :action => 'show', :id => @outcome.id, :course_id => @course.id}, :class => 'navbar') %></p>
<p>
<div>
  <h2>Create Assessment for <%= @outcome.commission %> <%= @outcome.outcome %>: "<%= @outcome.description %></h2>

  <%= form_for(:assessment, :url => {:action => 'create'}) do |f| %>

    <table summary="Assessment type">
      <tr>
        <th>Type</th>
        <td><%= f.hidden_field(:outcome_id) %>
        <%= f.select :assess_type, options_for_select([["Direct","Direct"],["Indirect","Indirect"]], @assessment.assess_type), :class => "dropdown" %></td>
      </tr>
    </table>

    <div>
      <%= f.submit "Create Assessment", class: "form-buttons" %>
    </div>

  <% end %>
</div>

