<% tab(TabHelper::DATA_ENTRY) %>

<section class="headline-with-actions">
  <h1><%= @assessment %></h1>

  <div>
    <% if policy(@assessment).create_results? %>
      <%= link_to t(".add_result"),
        new_manage_results_direct_assessment_result_path(@assessment),
        class: "button" %>
    <% end %>

    <% if policy(@assessment).edit? %>
      <%= link_to t(".edit"),
        edit_manage_assessments_direct_assessment_path(@assessment),
        class: "button" %>

      <%= link_to t(".archive"),
        manage_assessments_direct_assessment_archive_path(@assessment),
        method: :post,
        class: "button",
        data: { confirm: t(".archive_confirm") }
      %>
    <% end %>
  </div>
</section>

<%= assessment_details(@assessment) %>

<section>
  <h2><%= t(".results") %></h2>

  <%= render "results", results: @assessment.results %>
</section>

<section>
  <h2><%= t(".outcomes") %></h2>

  <%= render "manage_results/outcomes", outcomes: @assessment.outcomes %>
</section>
