<ul class="assignment-attachments attachments is-hidden">
  <% item.attachments.each do |attachment| %>
    <li class="attachment">
      <%= link_to attachment.name,
          manage_assignments_attachment_path(attachment) %>
      <%= link_to t(".delete_link"),
          manage_assignments_attachment_path(attachment),
          method: :delete %>
    </li>
  <% end %>

    <li class="attachment">
      <%= link_to(edit_path, class: "mx-auto") do %>
        <%= inline_svg "plus_sign.svg", class: "add-item-icon" %>
        <%= t(".add_another_attachment") %>
      <% end %>
    </li>
</ul>
