<%= render_errors(f) %>

<div class="simple-form-chunk">
  <%= f.input :label %>
  <%= f.input :description %>
  <%= f.input :nickname %>
</div>

<fieldset class="alignments">
  <legend><%= t(".alignments_legend") %></legend>
  <p><%= t('.alignment_description') %></p>

  <%= f.simple_fields_for(:alignments) do |alignment_form| %>
    <%= render "alignment_fields", f: alignment_form %>
  <% end %>
</fieldset>

<div class="form-actions">
  <%= f.submit %>
  <%= cancel_button %>
</div>
