<table>
  <thead>
    <tr>
      <th><%= t(".outcome") %></th>
      <th><%= t(".assessments") %></th>
      <th><%= t(".actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% course.outcomes_with_metadata.each do |outcome| %>
      <tr>
        <td><%= outcome %></td>
        <td><%= render "progress_bar",
          amount: outcome.active_assessments_with_results_count,
          total: outcome.active_assessments_count %></td>
        <td>
          <%= link_to t(".edit_outcome"), edit_manage_outcomes_outcome_path(outcome) %>

          <% if outcome.outcome_assessments.any? %>
            <%= link_to t(".view_assessments"), manage_assessments_course_assessments_path(@course, outcome_ids: outcome) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if course.has_custom_outcomes? && policy(course).create_outcomes? %>
  <%= link_to t(".add_outcome"), new_manage_outcomes_course_outcome_path(course), class: "button" %>
<% end %>
