<table>
  <thead>
    <tr>
      <th><%= t(".outcome") %></th>
      <th><%= t(".actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% course.outcomes.alphabetical.each do |outcome| %>
      <tr>
        <td>
          <p><%= outcome.nickname %></p>
          <p><%= outcome %></p>
        </td>
        <td>
          <%= link_to t(".edit_outcome"), edit_manage_outcomes_outcome_path(outcome) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if policy(course).create_outcomes? %>
  <%= link_to t(".add_outcome"), new_manage_outcomes_course_outcome_path(course), class: "button" %>
<% end %>
