<section class="unaligned-outcomes">
  <h2><%= t(".heading") %></h2>

  <table>
    <caption><%= t(".caption") %></caption>
    <thead>
      <tr>
        <th><%= t(".standard_outcome") %></th>
        <th><%= t(".actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% outcomes.each do |standard_outcome| %>
        <tr>
          <td><%= standard_outcome %>
          <td>
            <%= button_to t(".adopt"),
              manage_outcomes_course_standard_outcomes_path(
                course,
                ids: standard_outcome.id
              )
            %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
