<table>
  <% if results.present? %>
    <thead>
      <tr>
        <th><%= t(".period") %></th>
        <th><%= t(".name") %></th>
        <th><%= t(".problem") %></th>
        <th><%= t(".percentage") %></th>
        <th><%= t(".actions") %></th>
      </tr>
    </thead>

    <tbody>
      <% results.each do |result| %>
        <%= content_tag_for :tr, result do %>
          <td><%= result.semester %>-<%= result.year %></td>
          <td><%= result.assignment_name %></td>
          <td><%= result.assignment_problem %></td>
          <td><%= "#{result.percentage}%" %></td>
          <td class="inline-action-links">
            <% if policy(result).update? %>
              <%= link_to t(".edit"), edit_manage_results_result_path(result) %>
            <% end %>

            <% if policy(result).destroy? %>
              <%= link_to t(".delete"),
                manage_results_result_path(result),
                method: :delete,
                data: { confirm: t(".confirm") } %>
            <% end %>
          </td>
        <% end %>
      <% end %>
    </tbody>
  <% else %>
    <tr>
      <td><%= t(".no_results") %></td>
    </tr>
  <% end %>
</table>
