<table class="courses <%= table_class %>">
  <caption>
    <h2><%= title %></h2>
    <%= caption %>
  <thead>
    <tr>
      <th class="number"><%= t(".number") %></th>
      <th class="name"><%= t(".name") %></th>
      <% if show_assessment_coverage %>
        <th class="assessment-coverage"><%= t(".assessment_coverage") %></th>
      <% end %>
      <th class="actions"><%= t(".actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% courses.each do |course| %>
      <tr>
        <td><%= course.number %></td>
        <td><%= course.name %></td>
        <% if show_assessment_coverage %>
          <td><%= render "progress_bar",
            amount: course.active_assessments_with_results_count,
            total: course.active_assessments_count %></td>
        <% end %>
        <td><%= render action_partial, course: course %></td>
      </tr>
    <% end %>
  </tbody>
</table>
