<%= content_for :full_bleed do %>
  <div class="madlib-header">
    <h1 class="headline-narrow">
      <%= t(".headline") %>
    </h1>
    <h2 class="headline-narrow-subhead">
      <%= @assignment.course_number %>
      &middot;
      <%= @assignment.course_name %>
    </h2>
  </div>
<% end %>

<%= simple_form_for @assignment, html: { class: "madlib" }, url: manage_assessments_outcome_coverage_assignments_path do |form| %>
  <%= form.input :name %>
  <%= form.input :problem %>

  <%= render "manage_assessments/madlib_controls", form: form %>
<% end %>
