<div class="madlib-leadin">
  <p class="headline-poster headline-poster-copy">
    <%= t(
    ".intro_subject",
    subject_number: form.object.subject.number,
    ) %>
  </p>
  <p class="headline-poster headline-poster-copy">
    <%= t(
    ".intro_outcome",
    outcome_label: form.object.outcome.label,
    outcome_nickname: form.object.outcome.nickname,
    ) %>
  </p>
</div>

<%= form.input :name %>
<%= form.input :problem %>

<%= render "attachments/nested_form", form: form %>
<%= render "manage_assignments/madlib_controls", form: form %>
