<% tab(TabHelper::ASSESSMENTS) %>

<h1><%= t(".heading", name: @course) %></h1>
<% if policy(:generic).create_assessments? %>
  <%= link_to t(".add_assessment"), manage_assessments_root_path, class: "button" %>
<% end %>
<br>

<% @outcomes.order(:name).each do |outcome| %>
  <% if outcome.direct_assessments.any? || outcome.indirect_assessments.any? %>
    <h2>Outcome <%= outcome %> (<%= t(".assessments_count", count: outcome.assessments_count) %>)</h2>
    <% if outcome.direct_assessments.any? %>
      <%= render "direct_assessments", outcome: outcome %>
    <% end %>

    <br>

    <% if outcome.indirect_assessments.any? %>
      <%= render "indirect_assessments", outcome: outcome %>
    <% end %>
  <% end %>
<% end %>
