<% tab(TabHelper::ASSESSMENTS) %>

<%= content_for :header_with_filters do %>
  <div class="headline-with-actions">
    <h1><%= @course %></h1>

    <%= new_assessment_action %>
  </div>

  <div class="filters">
    <%= render "filter_form", outcomes: @outcomes, course: @course %>
  </div>
<% end %>

<% if @filtered_outcome.present? %>
  <section class="outcome-description">
    <h2><%= t(".outcome", name: @filtered_outcome.name.capitalize) %></h2>
    <p><%= @filtered_outcome.description %></p>
  </section>
<% end %>

<h3><%= t(".direct_assessments", count: @direct_assessments.length) %></h3>

<% if @direct_assessments.present? %>
  <%= render "direct_assessments", direct_assessments: @direct_assessments %>
<% else %>
  <%= render "no_assessments" %>
<% end %>
