<% tab(TabHelper::ASSESSMENTS) %>

<%= content_for :header_with_filters do %>
  <div class="headline-with-actions">
    <h1><%= @course %></h1>

    <%= new_assessment_action %>
  </div>

  <div class="filters">
    <%= render "filter_form", outcomes: @outcomes, course: @course %>

    <%# Derek - Wire Up Search Here %>
    <input type="search" placeholder="<%= t('placeholders.search') %>">
  </div>
<% end %>

<% if @filtered_outcome.present? %>
  <section class="outcome-description">
    <h2><%= t(".outcome", name: @filtered_outcome.label) %></h2>
    <p><%= @filtered_outcome.description %></p>
  </section>
<% end %>

<h3><%= t(".assessments", count: @assessments.length) %></h3>

<% if @assessments.present? %>
  <%= render "assessments", assessments: @assessments %>
<% else %>
  <%= render "no_assessments" %>
<% end %>
