<% tab(TabHelper::ASSESSMENTS) %>

<%= content_for :header_with_filters do %>
  <section class="header-with-filters">
    <div class="container">
      <div class="headline-with-action">
        <h1><%= @course %></h1>

        <% if policy(:generic).create_assessments? %>
          <%= link_to t(".create_new_assessment"), javascript_void,
            class: "button modal-trigger",
            data: { target_modal_name: "create-assessment" } %>

          <%= render "manage_assessments/new_assessment_modal" %>
        <% end %>
      </div>

      <div class="filters">
        <%= render "filter_form", outcomes: @outcomes, course: @course %>
      </div>
    </div>
  </section>
<% end %>

<% if @filtered_outcome.present? %>
  <section class="outcome-description">
    <h2><%= t(".outcome", name: @filtered_outcome.name.capitalize) %></h2>
    <p><%= @filtered_outcome.description %></p>
  </section>
<% end %>

<h3><%= t(".direct_assessments", count: @direct_assessments.length) %></h3>

<% if @direct_assessments.present? %>
  <%= render "direct_assessments", direct_assessments: @direct_assessments %>
<% else %>
  <%= render "no_assessments", assessment_type: t(".direct") %>
<% end %>

<h3><%= t(".indirect_assessments", count: @indirect_assessments.length) %></h3>

<% if @indirect_assessments.present? %>
  <%= render "indirect_assessments", indirect_assessments: @indirect_assessments %>
<% else %>
  <%= render "no_assessments", assessment_type: t(".indirect") %>
<% end %>
