<% if results.present? %>
  <table>
    <thead>
      <tr>
        <th><%= t(".name") %></th>
        <th><%= t(".description") %></th>
        <th><%= t(".problem_description") %></th>
        <th><%= t(".year") %></th>
        <th><%= t(".semester") %></th>
        <th><%= t(".percentage") %></th>
      </tr>
    </thead>
    <tbody>
      <% results.each do |result| %>
        <tr>
          <td><%= result.assessment_name %></td>
          <td><%= result.assessment_description %></td>
          <td><%= result.problem_description %></td>
          <td><%= result.year %></td>
          <td><%= result.semester %></td>
          <td><%= result.percentage %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
