<p><%=link_to("Home", {:controller => 'departments', :action => 'index'}, :class => 'navbar') %></p>
<p>
<h2><%= @departments.name %></h2>
</p>



<table>
	<tr>
		<th>Course Number</th>
		<th>Course Name</th>
		<th>Outcomes</th>
	</tr>

	<% @courses.each do |course| %>
		<tr>
			<td><%= course.number %></td>
			<td><%= course.name %></td>
			<td><%=link_to("Show", {:controller => 'courses', :action => 'show', :id => course.id}, :class => 'action show') %></td>
		</tr>
	<% end %>	

</table>


