<%= render_errors(f) %>

<fieldset class="period" data-role="histogramable">
  <legend><%= t(".period") %></legend>
  <%= f.input :year, collection: Result::YEARS %>
  <%= f.input :semester, collection: Result::SEMESTERS %>
</fieldset>

<%= f.input :percentage %>

<div class="form-actions">
  <%= f.submit %>
  <%= cancel_button %>
</div>
