<div class="madlib-leadin">
  <p class="headline-poster headline-poster-copy">
    Satisfactory performance on <%= @result.assignment.name %>,
    <%= @result.assignment.problem if @result.assignment.problem.present? %>
    was shown
  </p>
</div>

<div class="madlib-statements">
  <%= form.input :semester,
      collection: Result::SEMESTERS,
      headline: "in" %>
  <%= form.input :year,
      collection: Result::YEARS,
      headline: "of" %>

</div>

<div class="madlib-statement">
  <%= form.input :percentage,
      headline: "by" %>
  <p class="headline-poster">
    percent of students.
  </p>
</div>

<%= render "manage_assignments/madlib_controls", form: form %>
