<%= render_errors(f) %>

<fieldset class="period">
  <legend><%= t(".period") %></legend>
  <%= f.input :year, collection: Result::YEARS %>
  <%= f.input :semester, collection: Result::SEMESTERS %>
  <% if f.object.assessment.is_a? DirectAssessment %>
    <%= link_to(
      "View Gradebook Histogram",
      "#",
      data: {
        role: "view-histogram",
        endpoint: gradebook_assignments_url(
          subject_id: f.object.assessment.subject_id,
          semester: "semester",
          year: "year",
        )
      }
    ) %>
  <% end %>
</fieldset>

<fieldset class="background">
  <legend><%= t(".assessment_background") %></legend>
  <%= f.input :assessment_name %>
  <%= f.input :assessment_description %>
  <%= f.input :problem_description %>
</fieldset>

<%= f.input :percentage %>

<div class="form-actions">
  <%= f.submit %>
  <%= cancel_button %>
</div>
