<%= content_for :full_bleed do %>
  <div class="madlib-header">
    <h1 class="headline-narrow">
      <%= t(".heading") %>
    </h1>
    <h2 class="headline-narrow-subhead">
      <%= @result.assignment.course_number %>
      &middot;
      <%= @result.assignment.course_name %>
    </h2>
  </div>
<% end %>

<%= madlib_form_for @result, url: manage_results_result_path do |form| %>
  <%= render "form", form: form %>
<% end %>

<%= render "gradebook_form", subject: @result.assignment.subject %>
