<% tab(TabHelper::DATA_ENTRY) %>

<h1><%= t(".heading") %></h1>
<h2 class="assessment-title"><%= @result.assessment %></h2>
<%= assessment_details(@result.assessment) %>

<%= simple_form_for [:manage_results, @result.assessment, @result] do |f| %>
  <%= render "form", f: f %>
<% end %>

<% if @result.assessment.is_a?(DirectAssessment) %>
  <%= render "gradebook_form", subject: @result.assessment.subject %>
<% end %>
