<% tab(TabHelper::DATA_ENTRY) %>

<h1><%= t(".heading") %></h1>

<%= render "assignment_details", assignment: @result.assignment %>

<%= simple_form_for [:manage_results, @result.assignment, @result] do |f| %>
  <%= render "form", f: f %>
<% end %>

<%= render "gradebook_form", subject: @result.assignment.subject %>
