<div class="nested-form-actions">
  <ul class="attachments">
    <%= form.fields_for :attachments, wrapper: false, include_id: false do |attachment_fields| %>
      <%= render "attachments/fields", f: attachment_fields %>
    <% end %>

    <li>
      <%= link_to_add_association(
        form,
        :attachments,
        partial: "attachments/fields",
        class: "add-item add-item-short add-item-subtle add-item-attachment"
      ) do %>
        <%= inline_svg "paper_clip.svg", class: "add-item-icon" %>
        <%= t(".add_for_#{form.object.model_name.singular}") %>
      <% end %>
    </li>
  </ul>
</div>
