<% tab(TabHelper::DATA_ENTRY) %>

<h1><%= t(".heading") %></h1>
<h2 class="assessment-title"><%= @result.assessment %></h2>
<%= assessment_details(@result.assessment) %>

<%= simple_form_for [@assessment, @result] do |f| %>
  <%= render "form", f: f %>
<% end %>
