<div class="class-card">
  <h2 class="class-card-heading">
    <span class="class-card-subject-number">
      <%= coverage.subject.number %>
    </span>
    <%= coverage.subject.title %>
  </h2>

    <%= render coverage.outcome_coverages %>

    <%= link_to(edit_manage_assessments_course_coverage_path(coverage, course_id: coverage.course.id), html_options = {class: "add-item add-item-short"}) do %>
      <%= inline_svg "plus_sign.svg", class: "add-item-icon" %>
      <%= t(".add_another_outcome") %>
    <% end %>
</div>
