<%= content_for :full_bleed do %>
  <div class="madlib-header">
    <h1 class="headline-narrow">
      Add and Edit Outcomes
    </h1>
    <h2 class="headline-narrow-subhead">
      <%= @coverage.course.number %>
      &middot;
      <%= @coverage.course.name %>
    </h2>
  </div>
<% end %>

<%= simple_form_for @coverage, html: { class: "madlib" }, url: manage_assessments_course_coverage_path(course_id: @coverage.course.id) do |form| %>
  <%= render "form", form: form %>
<% end %>
