<%= content_for :full_bleed do %>
  <div class="madlib-header">
    <h1 class="headline-narrow">
      Add a class
    </h1>
    <h2 class="headline-narrow-subhead">
      <%= @coverage.course.number %>
      &middot;
      <%= @coverage.course.name %>
    </h2>
  </div>
<% end %>

<%= simple_form_for @coverage, html: { class: "madlib" }, url: manage_assessments_course_coverages_path(course_id: @coverage.course.id) do |form| %>
  <%= form.input :subject_id,
    collection: Subject.sorted_by_number,
    label_method: :to_s %>

  <%= form.simple_fields_for :outcome_coverages do |fields| %>
    <%= fields.input :outcome_id,
      collection: @coverage.course.outcomes,
      label_method: :to_short_s,
      required: fields.options[:child_index] == 0 %>
  <% end %>

  <div class="nested-form-actions">
    <%= link_to_add_association t('.add_outcome'),
      form,
      :outcome_coverages,
      render_options: { locals: { outcomes: @coverage.course.outcomes } } %>
  </div>

  <%= render partial: "manage_assessments/madlib_controls", locals: { form: form } %>
<% end %>
