<div class="row">
	<div class="five columns centered">
		<h4>Add <i><%=@title%></i> for outcome "<%=@outcome.name%>. <%=@outcome.description%>"</h4>
	</div>
</div>


<%=form_for [@outcome, @assessment] do |f| %>
	<div class="row">
		<div class="small-10 large-12">
			<div class="row">
				<div class="small-2 columns">
					<%=f.label @labels[:assessment_name_name], class: "left inline" %>
				</div>
				<div class="small-6 columns end"> 
					<%=f.text_field :assessment_name, :placeholder => @placeholders[:assessment_name_ph] %>
				</div>
			</div>
			<div class="row">
				<div class="small-2 columns">
					<%=f.label @labels[:assessment_description_name], class: "left inline"%>
				</div>
				<div class="small-6 columns end"> 
					<%=f.text_field :assessment_description, :placeholder => @placeholders[:assessment_description_ph] %>
				</div>
			</div>
			<% if @indirect_type == 'survey'%>
				<div class="row">
					<div class="small-2 columns">
						<%= f.label @labels[:survey_question_name], class: "left inline"  %>
					</div>
					<div class="small-6 columns end"> 
						<%=f.text_field :survey_question, :placeholder => "e.g. 'How satisfied are you with advising in your major?'" %>
					</div>
				</div>
			<% end %>
			<div class="row">
				<div class="small-2 columns">
					<%=f.label @labels[:year_name], class: "left inline" %>
				</div>
				<div class="small-2 columns end"> 
					<%=f.select :year, @available_years  %>
				</div>
			</div>
			<% if @indirect_type == 'survey'%>
				<div class="row">
					<div class="small-2 columns">
						<%= f.label @labels[:minimum_category_name], class: "left inline"  %>
					</div>
					<div class="small-6 columns end"> 
						<%=f.text_field :minimum_category, :placeholder => "e.g. 'Somewhat or Very Satisfied'" %>
					</div>
				</div>
			<% end %>
			<div class="row">
				<div class="small-2 columns">
					<%= f.label @labels[:target_percentage_name], class: "left inline" %>
				</div>
				<div class="small-4 columns end">
					<%=f.text_field	:target_percentage, :placeholder => "Whole number, e.g. '80' for '80%'" %>
				</div>
			</div>
			<div class="row">
				<div class="small-2 columns">
					<%=f.label @labels[:actual_percentage_name], class: "left inline" %>
				</div>
				<div class="small-4 columns end"> 
					<%=f.text_field :actual_percentage, :placeholder => "Whole number, e.g. '80' for '80%'" %>
				</div>
			</div>
			<div class="row">
				<%= button_tag "Submit"%>
			</div>
		</div>
	</div>
<% end %>