<% if results.present? %>
  <table>
    <thead>
      <tr>
        <th><%= t(".name") %></th>
        <th><%= t(".description") %></th>
        <th><%= t(".year") %></th>
        <th><%= t(".semester") %></th>
        <th><%= t(".percentage") %></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @assessment.results.each do |result| %>
        <%= content_tag_for :tr, result do %>
          <td><%= result.assessment_name %></td>
          <td><%= result.assessment_description %></td>
          <td><%= result.year %></td>
          <td><%= result.semester %></td>
          <td><%= "#{result.percentage}%" %></td>
          <td><%= link_to t(".edit"), edit_result_path(result) %></td>
          <td>delete</td>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end%>
