<h1><%= t(".heading") %></h1>

<table>
  <thead>
    <tr>
      <th><%= t(".description") %></th>
    </tr>
  </thead>
  <tbody>
    <% @outcomes.each do |outcome| %>
      <tr>
        <td><%= outcome %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="actions">
  <%= button_to t(".adopt_all", course: @course),
    course_standard_outcomes_path(@course, ids: @outcomes.pluck(:id)) %>

  <%= link_to t(".cancel"),
    outcomes_dashboard_path,
    class: "button button-cancel" %>
</div>
