<div class="narrow-content documentation-content">
  <h1>Help</h1>

  <p>
    For quick answers to your questions, visit the
    <%= link_to "Documentation", page_path("getting_started") %>
    section of the site. There you will find information on
    <%= link_to "outcomes", page_path("outcomes") %>,
    <%= link_to "classes", page_path("classes") %>,
    <%= link_to "assignments", page_path("assignments") %>, and
    <%= link_to "recording data", page_path("recording_data") %>
    as well as answers to
    <%= link_to "frequently asked questions", page_path("faq") %>.
  </p>

  <p>If you already referenced the documentation and were unsuccessful in finding answers,
  please contact <%= jon_daries %>.</p>
</div>
