<%= content_for :full_bleed do %>
  <div class="madlib-header">
    <h1 class="headline-narrow">
      Add a class
    </h1>
    <h2 class="headline-narrow-subhead">
      <%= @coverage.course.number %>
      &middot;
      <%= @coverage.course.name %>
    </h2>
  </div>
<% end %>

<%= madlib_form_for @coverage, url: manage_assignments_course_coverages_path(@coverage.course_id) do |form| %>
  <%= render "form", form: form, available_outcomes: available_outcomes(@coverage) %>
<% end %>
