<%= link_to new_manage_assessments_course_coverage_path(outcome.course_id, outcome_id: outcome.id), class: "outcome-card #{outcome_card_class(outcome)}" do %>
  <div class="outcome-card-copy">
    <h3 class="outcome-letter-subhead"><%= t(".label", label: outcome.label) %></h3>
    <h2 class="outcome-nickname"><%= outcome.nickname %></h2>
    <p class="outcome-card-description">
      <%= outcome.description %>
    </p>
  </div>

  <div class="outcome-card-action">
    <% if outcome.outcome_coverages.present? %>
      <%= inline_svg "check_mark.svg", class: "outcome-card-icon check" %>
    <% else %>
      <%= inline_svg "plus_sign.svg", class: "outcome-card-icon plus" %>
    <% end %>
  </div>
<% end %>
