<h1 class="headline-narrow">
  <%= @course.name %>
</h1>
<h2 class="headline-narrow-subhead">
  <%= t(".course_number", number: @course.number) %>
</h2>

<section id="matched_outcomes">
  <%= render @course.coverages %>
</section>

<%= link_to new_manage_assessments_course_coverage_path(@course),
  class: "add-item add-item-subtle add-item-short" do %>
  <%= inline_svg "plus_sign.svg", class: "add-item-icon" %>
  <%= t(".add_a_class") %>
<% end %>

<section class="unmatched-outcomes outcome-cards">
  <% @course.outcomes.each do |outcome| %>
    <%= render "outcome_status", outcome: outcome %>
  <% end %>
</section>
