<h1>Direct Assessments for <%= @subject %></h1>
<% if @subject.direct_assessments.any? %>
  <table id="direct_assessments">
    <tr>
      <th>Assignment Name</th>
      <th>Assignment Description</th>
      <th>Minimum Grade</th>
      <th>Target Percentage</th>
      <th></th>
    </tr>
    <% @subject.direct_assessments.each do |assessment| %>
      <tr id="direct_assessment-<%=assessment.id %>">
        <td><%= assessment.name %></td>
        <td><%= assessment.description %></td>
        <td><%= assessment.minimum_requirement %></td>
        <td><%= assessment.target_percentage %></td>
        <td><%= link_to "View and add results", direct_assessment_path(assessment) %>
      </tr>
    <% end %>
  </table>
<% else %>
  <p><em>No direct assessments</em></p>
<% end %>
