<table>
  <thead>
    <tr>
      <th><%= t(".outcome") %></th>
      <th><%= t(".course") %></th>
      <th class="actions"><%= t(".actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% outcomes.each do |outcome| %>
      <tr>
        <td><%= outcome.label %></td>
        <td><%= outcome.course %></td>
        <td><%= link_to_if policy(outcome.course).show?,
              t(".view_all"),
              manage_outcomes_course_outcomes_path(outcome.course) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
