<% tab(TabHelper::DATA_ENTRY) %>

<h1><%= t(".header", subject: @offering.to_s) %></h1>

<table>
  <thead>
    <tr>
      <th><%= t(".name_header") %></th>
      <th><%= t(".description_header") %></th>
      <th><%= t(".actions_header") %></th>
    </tr>
  </thead>
  <tbody>
    <% @offering.assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.name %></td>
        <td><%= assignment.description %></td>
        <td><%= link_to t(".histogram"), gradebook_assignment_histogram_path(assignment_id: assignment.assignmentId) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
