<% tab(TabHelper::ASSESSMENTS) %>

<div class="headline-with-actions">
  <h1><%= t(".title") %></h1>

  <%= new_assessment_action %>
</div>

<p><%= t(".intro_paragraph.text_html", link: link_to(t(".intro_paragraph.link"), manage_outcomes_root_path)) %></p>

<div>
  <table>
    <thead>
      <tr>
        <th><%= t(".number") %></th>
        <th><%= t(".name")%></th>
        <th><%= t(".assessments") %></th>
        <th><%= t(".actions") %></th>
      </tr>
    </thead>

    <tbody>
      <% @courses.with_outcomes.each do |course| %>
        <tr>
          <td><%= course.number %></td>
          <td><%= course.name %></td>
          <td><%= render "progress_bar",
            amount: course.active_assessments_with_results_count,
            total: course.active_assessments_count %></td>
          <td>
            <% if course.active_assessments_count > 0 %>
              <%= link_to t(".view_assessments"), manage_assessments_course_assessments_path(course) %>
            <% else %>
              <%= new_assessment_action(false) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
