<% tab(TabHelper::ASSIGNMENTS) %>

<h1><%= t(".title") %></h1>

<p><%= t(".intro_paragraph.text_html", link: link_to(t(".intro_paragraph.link"), manage_outcomes_root_path)) %></p>

<div>
  <table>
    <thead>
      <tr>
        <th><%= t(".number") %></th>
        <th><%= t(".name")%></th>
        <th><%= t(".outcomes_covered") %></th>
        <th><%= t(".actions") %></th>
      </tr>
    </thead>

    <tbody>
      <% @courses.each do |course| %>
        <tr>
          <td><%= course.number %></td>
          <td><%= course.name %></td>
          <td><%= render "progress_bar",
            amount: course.covered_outcomes_count,
            total: course.outcomes_count %></td>
          <td>
            <%= link_to t(".view"), manage_assessments_course_path(course) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
