<% tab(TabHelper::DATA_ENTRY) %>

<h1><%= t(".header", title: @histogram.title) %></h1>

<div id="histogram"></div>
<table id="datatable">
  <thead>
    <tr>
      <th><%= t(".label_header") -%></td>
      <th><%= t(".frequency_header") -%></td>
    </tr>
  </thead>
  <tbody>
    <% @histogram.bars.each do |bar| %>
      <tr>
        <td><%= bar.label -%></td>
        <td><%= bar.frequency -%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_tag(
  gradebooks_gradebook_assignment_histogram_path(gradebook_assignment_id: @histogram.gradebook_assignment_id),
  method: :get,
  enforce_utf8: false,
  data: { role: 'histogram-bar-selection' }) do |f| %>

  <%= label_tag :number_of_bins, t(".number_of_bins") %>
  <%= select_tag :number_of_bins, options_for_select(
    @histogram.available_number_of_bins,
    selected: @histogram.bars.size,
  ) %>
<% end %>
