<% tab(TabHelper::DATA_ENTRY) %>

<h1><%= t(".heading") %></h1>

<table>
  <thead>
    <tr>
      <th><%= t(".subject") %></th>
      <th><%= t(".assignments") %></th>
      <th><%= t(".actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject %></td>
        <td><%= subject.assignments.count %></td>
        <td><%= link_to t(".view_assignments"), manage_results_subject_path(subject) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
