<% tab(TabHelper::DATA_ENTRY) %>

<div class="headline-with-actions">
  <h1><%= @subject %></h1>
</div>

<% if @subject.assignments.present? %>
  <table id="assignments">
    <thead>
      <tr>
        <th><%= t(".outcome") %></th>
        <th><%= t(".assignment") %></th>
        <th><%= t(".last_entry") %></th>
        <th class="actions"><%= t(".actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @subject.assignments.each do |assignment| %>
        <tr id="assignment-<%=assignment.id %>">
          <td><%= assignment.outcome.label %></td>
          <td><%= assignment.name %> <% if assignment.problem? %>: <%= assignment.problem %><% end %></td>
          <td>
            <% if assignment.results.any? %>
              <%= assignment.results.last.semester %>-<%= assignment.results.last.year %>
            <% else %>
              <%= t(".no_results") %>
            <% end %>
          </td>
          <td class="inline-action-links">
            <%= link_to t(".view"), manage_results_assignment_path(assignment) %>
            <%= link_to t(".add_results"), new_manage_results_assignment_result_path(assignment) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= t(".no_assignments") %></p>
<% end %>
