<% tab(TabHelper::DATA_ENTRY) %>

<h1><%= @subject %></h1>

<% if @subject.direct_assessments.present? %>
  <table id="direct_assessments">
    <thead>
      <tr>
        <th><%= t(".assessment") %></th>
        <th><%= t(".minimum_grade") %></th>
        <th><%= t(".target_percentage") %></th>
        <th colspan="3"><%= t(".actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @subject.direct_assessments.each do |assessment| %>
        <tr id="direct_assessment-<%=assessment.id %>">
          <td><%= assessment %></td>
          <td><%= assessment.minimum_requirement %></td>
          <td><%= assessment.target_percentage %></td>
          <td>
            <% if policy(:generic).create_assessments? %>
              <%= link_to t(".edit"), edit_manage_assessments_direct_assessment_path(assessment) %>
            <% end %>
          </td>
          <td><%= link_to t(".results"), manage_results_direct_assessment_path(assessment) %></td>
          <td><% if policy(:generic).create_assessments? %>
              <%= link_to t(".archive"), manage_results_direct_assessment_path(assessment),
              :method => :put, data: { confirm: t(".confirm") }%>
              <% end %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="no-records"><%= t(".no_assessments") %></p>
<% end %>
