<% tab(TabHelper::DATA_ENTRY) %>

<div class="headline-with-actions">
  <h1><%= @subject %></h1>

  <%= new_assessment_action %>
</div>

<% if @subject.direct_assessments.present? %>
  <table id="direct_assessments">
    <thead>
      <tr>
        <th><%= t(".assessment") %></th>
        <th><%= t(".last_entry") %></th>
        <th class="actions"><%= t(".actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @subject.direct_assessments.each do |assessment| %>
        <tr id="direct_assessment-<%=assessment.id %>">
          <td><%= assessment %></td>
          <td>
            <% if assessment.results.any? %>
              <%= assessment.results.last.semester %>-<%= assessment.results.last.year %>
            <% else %>
              <%= t(".no_results") %>
            <% end %>
          </td>
          <td class="inline-action-links">
            <%= link_to t(".view"), manage_results_direct_assessment_path(assessment) %>
            <%= link_to t(".add_results"), new_manage_results_direct_assessment_result_path(assessment) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= t(".no_assessments") %></p>
<% end %>
