<div class="class-card-outcomes-wrapper">
  <div class="class-card-outcomes">
    <p class="class-card-outcome outcome-letter-subhead">
      <%= t(".outcome", label: outcome_coverage.outcome_label) %>
    </p>
    <p class="class-card-outcome outcome-nickname">
      <%= outcome_coverage.outcome_nickname %>
    </p>
  </div>

  <div class="class-card-assignments">
    <% if outcome_coverage.assignment.present? %>
    <p class="class-card-assignment" id="<%= dom_id(outcome_coverage.assignment) %>">
      <%= link_to edit_manage_assignments_outcome_coverage_assignment_path(
            outcome_coverage_id: outcome_coverage.id,
            assignment: outcome_coverage.assignment) do %>
              <%= t(".assignment_name", name: outcome_coverage.assignment.name) %>
              <%= t(".assignment_problem",
                  problem: outcome_coverage.assignment.problem) if outcome_coverage.assignment.problem.present? %>
      <% end %>
    </p>
    <p class="outcome-card-description">
      <%= outcome_coverage.outcome.description %>
    </p>
    <% else %>
    <p class="class-card-outcome class-card-assignment add-assignment">
      <%= link_to new_manage_assignments_outcome_coverage_assignment_path(outcome_coverage) do %>
        <%= inline_svg "plus_sign.svg", class: "add-item-icon" %>
        <%= t(".add_assignment") %>
      <% end %>
    </p>
    <p class="outcome-card-description">
      <%= outcome_coverage.outcome.description %>
    </p>
    <% end %>

    <div class="class-card-assignment-controls">
      <% if outcome_coverage.assignment.present? %>

        <% if outcome_coverage.assignment.attachments.present? %>
          <div class="attachments-expandable-link class-card-assignment-control">
            <%= link_to "#" do %>
              <%= inline_svg "paper_clip.svg", class: "add-item-icon" %>
              <%= t(".attachments-expandable-link") %>
            <% end %>
            <span class="emphasized-tab-digit emphasized-tab-digit-small">
              <%= outcome_coverage.assignment.attachments.size %>
            </span>
          </div>
        <% else %>
          <%= link_to(
              edit_manage_assignments_outcome_coverage_assignment_path(
                outcome_coverage_id: outcome_coverage.id,
                assignment: outcome_coverage.assignment),
                class: "class-card-assignment-control") do %>
            <%= inline_svg "paper_clip.svg", class: "add-item-icon" %>
            <%= t(".attach-student-work") %>
          <% end %>
        <% end %>

        <%= link_to new_manage_results_assignment_result_path(outcome_coverage.assignment),
            class: "class-card-assignment-control" do %>
          <%= inline_svg "plus_sign.svg", class: "add-item-icon" %>
          <%= t(".add_result") %>
        <% end %>

        <%= render "manage_assignments/shared/attachments",
            item: outcome_coverage.assignment,
            edit_path: edit_manage_assignments_outcome_coverage_assignment_path(
                          outcome_coverage_id: outcome_coverage.id,
                          assignment: outcome_coverage.assignment)  %>
      <% end %>

      <%= link_to t(".delete_outcome_coverage"),
            manage_assignments_outcome_coverage_path(outcome_coverage),
            class: "delete-outcome-coverage",
            method: :delete,
            data: { confirm: t(".delete_outcome_coverage_confirmation") } %>
    </div>
  </div>
</div>
