<h1><%= t(".heading", name: course.name) %></h1>

<table class="outcomes">
  <thead>
    <tr>
      <th class="label"><%= t(".label") %></th>
      <th class="description"><%= t(".description") %></th>
      <th class="actions"><%= t(".actions") %></th>
    </tr>
  </thead>
  <tbody>
    <%= render course.outcomes %>
  </tbody>
</table>

<% if course.has_custom_outcomes? %>
  <div id="unassociated-outcomes">
    <h4>The Following Standard Outcomes have not been associated to any custom outcomes:</h4>
    <ul>
      <% unassociated_outcomes.each do |outcome| %>
        <li><%=outcome.name %>: <%=outcome.description %></li>
      <% end %>
    </ul>
  </div>

  <% if policy(course).create_outcomes? %>
    <%= link_to "New custom outcome", new_course_outcome_path(course), class: "button" %>
  <% end %>
<% end %>
