<table>	
	<th>
		<td>&nbsp;</td>
		<td>Description</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</th>
	<% @outcomes.each do |outcome| %>
		<tr id="outcome-<%=outcome.id %>">
			<td><%= outcome.name%></td>
			<td><%= outcome.description%></td>
			<td><%= link_to "Add new assessment", new_outcome_assessment_path(outcome)%></td>
			<% if outcome.direct_assessments.count > 0 or outcome.indirect_assessments.count > 0 %>
				<td><%= link_to "Show assessments", outcome_path(outcome)%></td>
			<% else %>
				<td>&nbsp;Nothing</td>
			<% end %>
		</tr>
	<% end %>
  <% if @course.has_custom_outcomes? %>
    <div id="unassociated-outcomes">
      <h4>The Following Standard Outcomes have not been associated to any custom outcomes</h4>
      <ul>
        <% @unassociated_outcomes.each do |outcome| %>
          <li><%=outcome.name %>: <%=outcome.description %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</table>
