<% dept_link = "Department " + @department.number %>
<% course_link = "Course " + @course.number %>
<p class="navbar"><%=link_to("Home", {:controller => 'departments', :action => 'index'}, :class => 'navbar') %>&gt;<%= link_to(dept_link, {:controller => 'departments', :action => 'show', :id => @course.department_id}, :class => 'navbar') %>&gt;<%=link_to(course_link, {:controller => 'courses', :action => 'show', :id => @course.id}, :class => 'navbar') %></p>
<h2>Course <%= @course.number %>,&nbsp;<%= @course.name %></h2>



<table class="listing" summary="Outcome list">
    <tr class="header">
      <th>&nbsp;</th>
      <th>Outcomes</th>
      <th colspan="2">Assessments</th>
    </tr>
    <% @outcomes.size.times do |i| %>
    <tr>
      <td class="num_list"><%= @outcomes[i].outcome %>)</td>
      <td><%= @outcomes[i].description %></td>
        <% if @show_flags[i] %>
        <td>
        <%= link_to("Show", {:controller => 'outcomes', :action => 'show', :id => @outcomes[i].id, :course_id => @outcomes[i].course_id}, :class => 'rightcol') %>
      </td>
      <td class="assessments">
        <%= link_to("New", {:controller => 'assessments', :action => 'new', :out_id => @outcomes[i].id}) %>
      </td>
        <% else %>
        <td></td>
        <td class="assessments">
        <%= link_to("New", {:controller => 'assessments', :action => 'new', :out_id => @outcomes[i].id}) %>
        </td>
        <% end %>
    </tr>
    <% end %>
  </table>
