<h2>Course <%= @course.number %>,&nbsp;<%= @course.name %></h2>
<% back_link = "Back to Department " + @department.number + " Courses" %>
<%= link_to(back_link, {:controller => 'departments', :action => 'show', :id => @course.department_id}, :class => 'back') %>

<table class="listing" summary="Outcome list">
    <tr class="header">
      <th>&nbsp;</th>
      <th>Outcomes</th>
      <th colspan="2">Assessments</th>
    </tr>
    <% @outcomes.size.times do |i| %>
    <tr>
      <td class="num_list"><%= @outcomes[i].outcome %>)</td>
      <td><%= @outcomes[i].description %></td>
        <% if @show_flags[i] %>
        <td>
        <%= link_to("Show", {:controller => 'outcomes', :action => 'show', :id => @outcomes[i].id, :course_id => @outcomes[i].course_id}, :class => 'rightcol') %>
      </td>
      <td class="assessments">
        <%= link_to("New", {:controller => 'assessments', :action => 'new', :out_id => @outcomes[i].id}) %>
      </td>
        <% else %>
        <td></td>
        <td class="assessments">
        <%= link_to("New", {:controller => 'assessments', :action => 'new', :out_id => @outcomes[i].id}) %>
        </td>
        <% end %>
    </tr>
    <% end %>
  </table>
