<%= simple_form_for [course, outcome] do |f| %>
  <%= render_errors(f) %>

  <%= f.input :name %>
  <%= f.input :description %>

  <fieldset class="alignments">
    <legend><%= t(".alignments_legend") %></legend>

    <%= f.simple_fields_for(:alignments) do |alignment_form| %>
      <%= render "alignment_fields", f: alignment_form %>
    <% end %>
  </fieldset>

  <div class="actions">
    <%= f.submit %>
    <%= link_to t(".cancel"),
      outcomes_dashboard_path,
      class: "button button-cancel" %>
  </div>
<% end %>
