<div class = "row">
<h3>Create Custom Student Learning Outcomes</h3>
</div>
<%= form_for @outcome do |f| %>
  <div class="row">
    <div class="small-10 large-12">
      <%= f.hidden_field :course_id, :value => @course.id %>
      <div class="row">
        <div class="small-2 columns">
          <%=f.label "Outcome", class: "left inline"%>
        </div>
        <div class="small-2 columns end">
          <%=f.text_field :name, :placeholder => "e.g. '1.A'"%>
        </div>
      </div>
      <div class="row">
        <div class="small-2 columns">
          <%= f.label "Outcome Description", class: "left inline" %>
        </div>
        <div class="small-6 columns end">
          <%=f.text_field :description, :placeholder => "e.g. 'The ability to apply engineering principles in a project context'"%>
        </div>
      </div>
      <h3>Select the Alignment levels</h3>
      <% @defaults.each do |default_outcome| %>
        <div class="row">
          <div class="small-6 columns">
            <%= label_tag "default[#{default_outcome.id}]", "#{default_outcome.name} - #{default_outcome.description}", class: "left inline" %>
          </div>
          <div class="small-2 columns end">
            <%=select_tag "default[#{default_outcome.id}]", options_for_select(@align_levels) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <%= button_tag "Submit"%>
  </div>
<% end %>

