<p>
<h2>Assessments for <%= @outcome.commission %> <%= @outcome.outcome %>: "<%= @outcome.description %>" </h2>
</p>
<% back_link = "Back to Outcomes for Course: " + @course.number %>
<p><%=link_to(back_link, {:controller => 'courses', :action => 'show', :id => @course.id}, :class => 'action show') %></p>

<table>
	

	<% @assessments.each do |assess| %>
	<h3><%= assess.assess_type %></h3>
	<p><%=link_to("Add New Subject", {:controller => 'subjects', :action => 'new', :assessment_id => assess.id}, :class => 'action show') %></p>
	<tr>
		<th>Type</th>
		<th>Subject Number</th>
		<th>Subject Name</th>
		<th>&nbsp;</th>
		
	</tr>
		<% assess.subjects.each do |sub| %>
		<tr>
			<td><%= assess.assess_type %></td>
			<td><%= sub.number %></td>
			<td><%= sub.name %></td>
			<td><%=link_to("Show Measures", {:controller => 'subjects', :action => 'show', :id => sub.id}, :class => 'action show') %></td>
		</tr>
		<% end %>
	<% end %>	

</table>
