<h3><%= @outcome.name %>: <%= @outcome.description %></h3>
<% if @outcome.outcome_alignments.any? %>
  <h4>Aligned ABET Outcomes</h4>
  <table width="1000" id="outcome_alignments">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th width="150">Alignment Level</th>
    </tr>
    <% @outcome.outcome_alignments.each do |alignment| %>
      <tr>
        <td><%= alignment.standard_outcome.name %></td>
        <td><%= alignment.standard_outcome.description %></td>
        <td><%= alignment.alignment_level %></td>
      </tr>
    <% end %>
  </table>
<% end %>
<h4>Direct Assessments</h4>
<% if @direct_assessments.any? %>
  <table id="direct_assessments">
    <tr>
      <th>Subject</th>
      <th>Semester</th>
      <th>Assignment Name</th>
      <th>Assignment Description</th>
      <th>Minimum Grade</th>
      <th>Target Percentage</th>
      <th>Actual Percentage</th>
      <th></th>
    </tr>
    <% @direct_assessments.each do |assessment| %>
      <tr id="direct_assessment-<%=assessment.id %>">
        <td><%= assessment.subject %></td>
        <td><%= assessment.semester%></td>
        <td><%= assessment.assignment_name%></td>
        <td><%= assessment.assignment_description%></td>
        <td><%= assessment.minimum_grade%></td>
        <td><%= assessment.target_percentage%></td>
        <td><%= assessment.actual_percentage%></td>
        <td><%= link_to "Edit", edit_direct_assessment_path(assessment) %>
      </tr>
    <% end %>
  </table>
<% else %>
  <p><em>No direct assessments</em></p>
<% end %>

<h4>Indirect Assessments</h4>
<% if @indirect_assessments.any? %>
  <table id="indirect_assessments">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Year</th>
      <th>Minimum Category</th>
      <th>Target Percentage</th>
      <th>Actual Percentage</th>
      <th>Type</th>
      <th></th>
    </tr>
    <% @indirect_assessments.each do |assessment| %>
      <tr id="indirect_assessment-<%=assessment.id %>">
        <td><%= assessment.assessment_name%></td>
        <td><%= assessment.assessment_description%></td>
        <td><%= assessment.year%></td>
        <td><%= assessment.minimum_category%></td>
        <td><%= assessment.target_percentage%></td>
        <td><%= assessment.actual_percentage%></td>
        <td><%= assessment_type(assessment) %></td>
        <td><%= link_to "Edit", edit_polymorphic_path([@outcome, assessment]) %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p><em>No indirect assessments</em></p>
<% end %>
