<% tab(TabHelper::REPORTS) %>

<h1><%= t(".heading", course: @course.name) %></h1>

<p><%= t(".description_html", link: link_to(
  t(".csv_link"),
  course_assignment_report_path(course_id: @course, format: :csv)
)) %></p>

<table>
  <thead>
    <tr>
      <th><%= t(".outcome_label") %></th>
      <th><%= t(".assignment_name") %></th>
      <th><%= t(".assignment_problem") %></th>
      <th><%= t(".actual_percentage") %></th>
      <th><%= t(".period") %></th>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |result| %>
      <tr>
        <td><%= result.outcome_label %></td>
        <td><%= result.assignment_name %></td>
        <td><%= result.assignment_problem %></td>
        <td><%= result.actual_percentage %></td>
        <td><%= result.period %></td>
      </tr>
    <% end %>
  </tbody>
</table>
