<% tab(TabHelper::DATA_ENTRY) %>

<h1><%= @assessment %></h1>
<%= assessment_details(@assessment) %>

<section class="results">
  <h2>Results</h2>
  <%= render "results", results: @assessment.results %>

  <% if policy(@assessment).create_results? %>
    <%= link_to t(".add_result"),
      new_manage_results_indirect_assessment_result_path(@assessment),
      class: "button" %>
  <% end %>
</section>

<section class="outcomes">
  <%= render "outcomes", outcomes: @assessment.outcomes %>
</section>
