<% tab(TabHelper::ASSESSMENTS) %>

<% @courses.each do |course| %>
  <% if course.outcomes.any? %>
    <h2><%= course %></h2>
    <table class="outcomes">
      <thead>
        <tr>
          <th class="label"><%= t(".label") %></th>
          <th class="description"><%= t(".description") %></th>
          <th class="actions"><%= t(".actions") %></th>
        </tr>
      </thead>
      <tbody>
        <%= render course.outcomes %>
      </tbody>
    </table>
  <% end %>
<% end %>
