<h1><%= t(".heading") %></h1>

<table>
  <thead>
    <tr>
      <th><%= t(".description") %></th>
    </tr>
  </thead>
  <tbody>
    <% @outcomes.each do |outcome| %>
      <tr>
        <td>
          <p><%= outcome.nickname %></p>
          <p><%= outcome.label %> - <%= outcome.description %></p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="form-actions">
  <%= button_to t(".adopt_all", course: @course),
    manage_outcomes_course_standard_outcomes_path(
      @course, ids:
      @outcomes.pluck(:id)
    )
  %>

  <%= cancel_button %>
</div>
