<% tab(TabHelper::ACTIVITY_FEED) %>

<section class="activity-stats">
  <%= render "stat",
    number: 16,
    descriptor: t('.results_added_this_week_html'),
    comparison: t('.last_week', count: 32) %>

  <%= render "stat",
    number: 33,
    descriptor: t('.results_added_this_semester_html'),
    comparison: t('.last_semester', count: 45) %>

  <%= render "stat",
    number: 21,
    descriptor: t('.contributors_this_week'),
    comparison: t('.last_week', count: 25) %>

  <%= render "stat",
    number: 44,
    descriptor: t('.contributors_this_semester'),
    comparison: t('.last_semester', count: 56) %>
</section>

<table class="activity-feed">
  <% @activity_feed.grouped_activities.each do |date, activities| %>
    <tr class="table-section-header">
      <td class="activity-header-date" colspan="3"><%= relative_date(date) %></td>
      <td class="activity-header-count"><%= t(".activity_count", count: activities.size) %></td>
    </tr>

    <%= render activities %>
  <% end %>
</table>
