<ul class="accordion-tabs-minimal" role="navigation">
  <li>
    <%= link_to t(".outcomes"),
      manage_outcomes_root_path,
      class: tab_class(TabHelper::OUTCOMES) %>
  </li>
  <li>
    <%= link_to t(".assignments"),
      manage_assessments_root_path,
      class: tab_class(TabHelper::ASSIGNMENTS) %>
  </li>
  <li>
    <%= link_to t(".data"),
      manage_results_subjects_path,
      class: tab_class(TabHelper::DATA_ENTRY) %>
  </li>
  </li>
    <%= link_to t(".activity_feed"),
      activities_path,
      class: tab_class(TabHelper::ACTIVITY_FEED) %>
  </li>
  <li>
    <%= link_to t(".reports"),
      reports_path,
      class: tab_class(TabHelper::REPORTS) %>
  </li>
</ul>
