<aside class="documentation-side-nav-wrapper">
  <nav class="documentation-side-nav">
    <ul>
      <li><%= documentation_side_nav_link(t(".getting_started"), "getting_started") %></li>
      <li><%= documentation_side_nav_link(t(".outcomes"), "outcomes") %></li>
      <li><%= documentation_side_nav_link(t(".classes"), "classes") %></li>
      <li><%= documentation_side_nav_link(t(".assignments"), "assignments") %></li>
      <li><%= documentation_side_nav_link(t(".recording_data"), "recording_data") %></li>
      <li><%= documentation_side_nav_link(t(".faq"), "faq") %></li>
    </ul>
  </nav>
</aside>
