<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%#
      Configure default and controller-, and view-specific titles in
      config/locales/en.yml. For more see:
      https://github.com/calebthompson/title#usage
    %>
    <title><%= title %></title>
    <%= stylesheet_link_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <link href="//fonts.googleapis.com/css?family=Roboto:400,700,300,400italic,700italic,300italic" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Domine:400,700" rel="stylesheet" type="text/css">
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body class="<%= body_class %>">
    <%= render "navigation" %>

    <% if @current_tab %>
      <%= render "tabs" %>
    <% end %>

    <section class="main tab-content" role="main">
      <%= render "flashes" %>
      <%= yield %>
    </section>
  </body>
</html>
