<!DOCTYPE html>
<html lang="en">
  <%= render "layouts/head" %>

  <body class="<%= body_class %>">
    <%= render "navigation" %>

    <% if @current_tab %>
      <%= render "tabs" %>
    <% end %>

    <%= yield :header_with_filters %>

    <section class="container" role="main">
      <%= render "flashes" %>
      <%= yield %>
    </section>
  </body>
</html>
