<!DOCTYPE html>
<html>
<head>
  <title>ABET</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Maven+Pro' %> 
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href="http://engineering.mit.edu/home"><img src="/MIT_SOE_logo.png"></a>
<h2><a href="/">ABET Outcomes Assessment</a></h2>
<%= yield %>

</body>
</html>
